---
import Root from '@/layouts/_Root.astro';
---

<Root description="Welcome to my home page." title="Home">
    <main>
        <section>
            <h1>Hello Supastro</h1>
        </section>
    </main>
</Root>
